<aside class="about-sidebar">
  <img src="/img/site-image-2.png" class="about-photo" alt="Luiz Felipe Vecchietti">
  <p class="about-name">Luiz Felipe Vecchietti</p>
  <p class="about-position">
    Postdoctoral Researcher<br>
    Max Planck Institute for<br>
    Security and Privacy (MPI-SP)<br>
    Bochum, Germany
  </p>
  <div class="social-strip">
    <a href="mailto:lfelipesv@gmail.com" title="Email"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/lfelipesv" title="GitHub"><i class="fa fa-github"></i></a>
    <a href="https://linkedin.com/in/luiz-felipe-vecchietti-807b0114" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://scholar.google.com/citations?user=xPV0ONYAAAAJ" title="Google Scholar"><i class="fa fa-graduation-cap"></i></a>
  </div>
</aside>
